/* Universal Styles */

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #212121;
  width: 100%;
}

::selection {
  background: #E926C2;
  color: white;
}

.line {
  display: block;
  height: 1px;
  background: #D3D3D3;
  margin: 16px 0;
}

a {
  text-decoration: none;
  color: #212121;
}

a:hover {
  color:#E926C2;
}

.fa-brands {
  margin-right: 16px;
}

.fa-github-square {
  color: #161616;
}

.fa-linkedin {
  color: #0072B1;
}

.fa-twitter-square {
  color: #1DA1F2;
}

button {
  border: none;
  outline: none;
  background-color: #fff;
  color: #212121;
  border: 1px solid #E0E0E0;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.6%;
  padding: 0.6rem 1rem;
  border-radius: 4px;
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.12);
  transition: all .5s ease;
}

.float {
  float: right;
  margin-bottom: 24px;
}

button:hover {
  background-color: #F5F5F5;
}

button:focus {
  border: 3px solid rgba(228, 49, 198, 0.2);
}

button:active {
  background: #EDEDED;
  border: 1px solid #C2C2C2;
}

/* Layout */

.wrapper {
  padding: 32px 24px 0 24px;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.one {
  flex: 2;
  margin-right: 2rem;
}

.two {
  flex: 1;
}

/* Main */

.project {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

}

.content {
  flex: 1;
}

.container{
  flex: 1;
}

.container > img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 1rem;
}

/* .box img {
display: block;
object-fit: cover;
width: 100%;
max-height: 100%;
} */


/* Header */

.grid {
  display: flex;
  flex-direction: row;
}

.big {
  flex: 2;
}

.imgcontainer {
  display: flex;
  flex-direction: column;
}

.big {
  width: auto;
  height: 210px;
  overflow: hidden;
  border-radius: 1rem;
}

.box {
  width: auto;
  height: 100px;
  overflow: hidden;
  border-radius: 1rem;
  margin-bottom: 10px;
  margin-left: 10px;
}

.box img {
  /* max-width: 100%;
height: auto; */
display: block;
object-fit: cover;
width: 100%;
max-height: 100%;
}


.big img {
    /* max-width: 100%;
  height: auto; */
  display: block;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
}

h3, p {
  color: #464646;
}

.image-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;

}

.album {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 1rem;
  margin-bottom: 16px;
}

.album img, .box img {
  /* max-width: 100%;
  height: auto; */
  display: block;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

/* Footer */
footer {
  display: flex;
  border-top: #D3D3D3 solid 1px;
  align-items: center;
}
