/* Universal Styles */

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #212121;
  width: 100%;
}

/* Typography */

h1 {
  font-size: 2rem;
  line-height: 36px;
  color: #161616;
  margin: 0;
}

h2 {
  font-size: 1.25rem;
  line-height: 28px;
  margin: 0;
}

h3 {
  font-size: 1.14rem;
  line-height: 24px;
}

span {
  font-size: 12px;
  color:#464646;
}

::selection {
  background: #E926C2;
  color: white;
}

.line {
  display: block;
  height: 1px;
  background: #D3D3D3;
  margin: 16px 0;
}

a {
  text-decoration: none;
  color: #212121;
}

a:hover {
  color:#E926C2;
}

.fa-brands {
  margin-right: 16px;
}

.fa-github-square {
  color: #161616;
}

.fa-linkedin {
  color: #0072B1;
}

.fa-twitter-square {
  color: #1DA1F2;
}

button, li {
  border: none;
  outline: none;
  background-color: #fff;
  color: #212121;
  border: 1px solid #E0E0E0;
  font-weight: 500;
  line-height: 20px;
  padding: 0.6rem 1rem;
  border-radius: 4px;
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.12);
  transition: all .5s ease;
}

button:hover, li:hover {
  background-color: #F5F5F5;
}

button:focus, li:hover {
  border: 3px solid rgba(228, 49, 198, 0.2);
}

button:active, li:hover {
  background: #EDEDED;
  border: 1px solid #C2C2C2;
}

/* Layout */

.wrapper {
  padding: 32px 24px 0 24px;
}

.row {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.section-projects {
  flex: 2;
  margin-right: 2rem;
}

.section-about {
  flex: 1;
  border-left: 1px solid #D3D3D3;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-top: 6px;
}

@media only screen and (max-width: 640px) {
  .row {
    display: block;
  }
  .section {
    width: 100%;
  }
  .section-about {
    border-left: none;
    border-top: 1px solid #D3D3D3;
    padding: 0;
  }
}

/* Header */

header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.heading-container {
  display: flex;
  align-items: center;
  margin: 0 0 8px 0;
}

.portrait-container {
  width: 56px;
  height: 56px;
  overflow: hidden;
  border-radius: 8px;
  margin-right: 8px;
}

.portrait-container > img {
  display: block;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 8px;
}

/* Main */

/* Projects */

.project {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.content {
  flex: 1;
  padding: 8px;
}

.container{
  flex: 1;
}

.container > img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 8px;
}

/* About */

.image-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;

}

.album {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 16px;
}

.album img, .box img {
  /* max-width: 100%;
  height: auto; */
  display: block;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

/* Footer */
footer {
  display: flex;
  border-top: #D3D3D3 solid 1px;
  align-items: center;
}
